{%  extends "wiki/layout.html" %}

{% load static %}

{% block body %}
<main class="container">

    <h1>{{race.name_text}}</h1>
    <blockquote>
        {{race.description|linebreaks}}
        <footer>
          <cite>- Lore</cite>
        </footer>
    </blockquote>

    
    <div style="overflow: hidden;">
        <a href="#" id="expAll" role="button" class="secondary">Minimize All</a>
    </div>
    
    

    <details open>
        <summary> <b>Effects</b> </summary>
        
        {{race.effects|linebreaks}}

    </details>

    <details open>
        <summary> <b>Starting Attributes</b> </summary>

        <table>
            <tr>
                <th>Attribute</th>
                <th>Base</th>
                <th>Max</th>
            </tr>
            <tr>
                <td>Strength</td>
                <td>{{race.str_b}}</td>
                <td>{{race.str_m}}</td>
            </tr>

            <tr>
                <td>Dexterity</td>
                <td>{{race.dex_b}}</td>
                <td>{{race.dex_m}}</td>
            </tr>

            <tr>
                <td>Constitution</td>
                <td>{{race.con_b}}</td>
                <td>{{race.con_m}}</td>
            </tr>

            <tr>
                <td>Intelligence</td>
                <td>{{race.int_b}}</td>
                <td>{{race.int_m}}</td>
            </tr>

            <tr>
                <td>Spirit</td>
                <td>{{race.spi_b}}</td>
                <td>{{race.spi_m}}</td>
            </tr>
        </table>
        <p>Creation Cost: {{race.cost}}</p>

    </details>

    <details open>
        <summary> <b>Classes</b> </summary>
        {% if class_list %}
        <div class="">
        {% for class in class_list %}

            <div class="chip">
                <a href="/wiki/class/{{class.classkey.name_text}}" class="contrast">
                    <img src="/wiki/{{class.classkey.icon}}" alt="Class Icon" width="96" height="96">
                    {{ class.classkey.name_text }}
                </a>
            </div>
        {% endfor %}
        </div>
        {% else %}
            <p>No classes available</p>
        {% endif %}
    </details>

    <details open>
        <summary> <b>Base Classes</b> </summary>
        {% if base_list %}
        <div class="">
        {% for base in base_list %}

            <div class="chip">
                <a href="/wiki/base-class/{{base.basekey.name_text}}" class="contrast">
                    <img src="/wiki/{{base.basekey.icon}}" alt="Class Icon" width="96" height="96">
                    {{ base.basekey.name_text }}
                </a>
            </div>
        {% endfor %}
        </div>
        {% else %}
            <p>No base classes available.</p>
        {% endif %}
    </details>

    <details open>
        <summary> <b>Abilites</b> </summary>
        {% if ab_list %}
        <div class="card-container">
        {% for ab in ab_list %}

            <div class="card">
                <img src="/wiki/{{ab.icon}}" alt="Abilitiy Icon" >
                <div class="">
                    <b>{{ ab.name_text }}</b>
                    <table>
                        <tbody>
                            <tr>
                                <th>Level</th><td>{{ab.granted_level}}</td>
                            </tr>
                            <tr>
                                <th>Granted Rank</th><td>{{ab.granted_rank}}</td>
                            </tr>
                            <tr>
                                <th>Type</th><td>{{ab.type}}</td>
                            </tr>
                            <tr>
                                <th>Cost</th><td>{{ab.cost}}</td>
                            </tr>
                            <tr>
                                <th>Cast Time</th><td>{{ab.cast_time}}</td>
                            </tr>
                            <tr>
                                <th>Cooldown</th><td>{{ab.cooldown}}</td>
                            </tr>
                            <tr>
                                <th>Hitroll</th><td>{{ab.hitroll}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>{{ab.description}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
            <p>No Abilities are available.</p>
        {% endif %}
    </details>

{% endblock %}



{% block script %}

{% endblock %}